/*Hero*/
#hero {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

#hero .hero-top {
  display: flex;
  justify-content: space-between;
 

}

#hero .hero-description h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.04em;
  margin-bottom: 4rem;
  color: var(--color-text-black);
  max-width: 68rem;
}

#hero .hero-description h2 span {
  color: var(--color-main-blue);
}

#hero .hero-description p {
  margin-bottom: 6.2rem;
  max-width: 55rem;
  color: var(--color-text-gray);
}

#hero .hero-description .links {
  margin-bottom: 9rem;
}

#hero dl {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
}

#hero dt {
  font-weight: 500;
  font-size: 4rem;
  line-height: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}

#hero dt::before {
  content: "";
  width: 4.1rem;
  height: 4.5rem;
  position: absolute;
  left: 0.2rem;
  top: -2rem;
  z-index: -1;
  opacity: 1;
  border-radius: 12rem 16rem 2rem 1rem;
  transform: rotate(-55.53deg);
}

dt.orange::before {
  background: var(--color-orange);
}

dt.blue::before {
  background: var(--color-main-blue);
}
dt.green::before {
  background: var(--color-green);
}
#hero dd {
  font-weight: 400;
  font-size: 2rem;
  line-height: 130%;
  text-align: center;
  color: var(--color-text-gray);
}

#hero .hero-image {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  max-width: 119rem;
}

#hero .hero-brands {
  background-color: var(--color-fafa);
  padding: 7.4rem 8.2rem;
  border-radius: 1rem;
  margin-top: 3rem;
}

#hero .hero-brands ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  list-style: "🏡 ";
  gap: 1rem;

}

#hero .hero-brands li {
  color: var(--color-main-blue);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

#hero .vector {
  position: absolute;
  top: 60rem;
  left: 0;
}

#hero .links {
  display: flex;
  flex-direction: column;
}


@media (min-width:800px){
  #hero {
    margin-top: 11.8rem;
  }
  #hero dl {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #hero dt {
    grid-row-start: 1;
  }
  
  #hero .hero-image {
    left: 74rem;
    top: 5rem;
    opacity: 1;
  }
  #hero .hero-brands {
    border-radius: 15rem;
    margin-top: 0rem;
  }
  #hero .hero-brands ul {
    flex-flow: row wrap;
  }
}