:root {
  --color-white: #fff;
  --color-main-blue: #18a7b9;
  --color-green: #42b918;
  --color-orange: #fe8432;
  --color-text-gray: #6b6b6b;
  --color-text-black: #313131;
  --color-fafa:#fafafa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
 
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
img {
  max-width: 100%;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
