#contact {
    margin-top: 14rem;
}

#contact header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact .btn {
    box-shadow:var(--box-shadow-blue);
}

#contact iframe {
    margin-top: 6rem;
}