footer {
  display: flex;
  flex-direction: column;
  margin-top: 14rem;
  box-shadow:var(--box-shadow-blue);
    padding: .4rem 1rem;
    border-radius: 1rem;
    position: relative;
    color: var(--color-text-gray);
 
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer > p {
  margin-bottom: 1rem;
  text-align: center;
}

footer .vector {
  position: absolute;
  bottom: -12rem;
  right: 0;
}

footer address {
  padding: 2rem 0;
}

@media (min-width:800px){
  footer div {
    flex-direction: row;
  }
}